.App {
  text-align: center;

  @apply uppercase;
}

.header {
  background-color: white;
  color: black;

  @apply mb-8 flex flex-col items-center justify-center;
}

.title {
  padding: 0;
}

img {
  max-height: 60vh;
  max-width: 95%;
}

.links {
  display: flex;
  gap: 2rem;

  @apply mt-6 text-lg;
}

a {
  color: #0284c8;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.comic-panel {
  @apply grid w-[90vw] grid-cols-2 border border-black bg-white sm:w-[28rem];
}

.panel-item {
  @apply grid aspect-square items-center justify-center bg-white text-center text-black hover:brightness-95;

  > p {
    @apply underline group-hover:no-underline;
  }

  &.--coming-soon {
    @apply border border-black;
  }
}
